#!/bin/sh
# Defaults to runs when after you login via display manager (login screen)
# Also manually sourced from '.xinitrc'

# NixOS runs startx and graphical DMs from a different shell environment
. "$HOME/.profile"

[ -r "$HOME/.Xresources" ] && xrdb "$HOME/.Xresources"
#[ -r "$HOME/.Xresources" ] && xrdb -merge "$HOME/.Xdefaults"

# Launch dbus for fcitx and perhaps pulse audio
# https://fcitx-im.org/wiki/Configure_(Other)#Use_Slim_.28.7E.2F.xinitrc.29.2Fstartx
# https://nixos.wiki/wiki/Using_X_without_a_Display_Manager
[ -z "${DBUS_SESSION_BUS_ADDRESS}" ] \
  && eval $( dbus-launch --sh-syntax --exit-with-session >/dev/null )

# Export fcitx variables before running graphical programs
if command -v fcitx5 2>&1 >/dev/null; then
  export    XMODIFIERS="@im=fcitx5"
  export GTK_IM_MODULE=fcitx5
  export  QT_IM_MODULE=fcitx5
  export SDL_IM_MODULE=fcitx5
  killall fcitx5; fcitx5  # Restart fcitx5
elif command -v fcitx 2>&1 >/dev/null; then
  export    XMODIFIERS="@im=fcitx"
  export GTK_IM_MODULE=fcitx
  export  QT_IM_MODULE=fcitx
  export SDL_IM_MODULE=fcitx
  killall fcitx; fcitx  # Restart fcitx
fi
#xmodmap "${XDG_CONFIG_HOME}/rc/.Xmodmap"  # Swap CapsLock and ControlR


# Startup up stuff
# Ideally, I want pipewire and wireplumber to be run on tty startup, not
# Xorg startup
xbacklight -set 40&            # Screen brightness
x.sh set-wallpaper&            # Desktop Wallpaper
xcompmgr -c&                   # Window Transparency
dunst&                         # Notifications
pipewire&                      # Cannot figure out user sv for running this
#wireplumber&                   # Session manager for pipewire
#mpd&                           # For music playing
#sxhkd&                         # For hotkeys

